* {
    background-color: #060824;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #00171B;
    box-shadow: 0px 10px 8px #00171B;
    position: sticky;
    z-index: 99;
    top: 0;
    width: auto;
    height: 60px;
}

.box {
    background-color: #00333D;
    border-radius: 15px;
    padding: 20px;
    width: 200px;
    height: 260px;
    color: #c9d1d9;
    margin-top: 30px;
}

.box h1 {
    color: white;
    background-color: #00333D;
}